<hr class="uk-margin-medium-top">

<section class="uk-section uk-section-small uk-container uk-flex uk-flex-wrap uk-flex-between uk-flex-middle">
	<div class="uk-width-expand" data-uk-margin>
		<div class="uk-flex uk-flex-wrap uk-flex-between uk-flex-middle uk-heading-divider">
		<h5 class="uk-text-lead uk-text-default uk-margin-remove">{{name}}</h5>
		{{#if location}}<span class="uk-article-meta uk-text-muted">{{location}}</span>{{/if}}
		</div>
{{#if bio}}
	<p class="uk-margin-small">{{bio}}.</p>
	<a href="{{url}}" title="About {{name}}" class="uk-text-meta uk-display-block uk-margin-small-top">About {{name}}</a>
{{else}}
	<p class="uk-margin-small">Read <a href="{{url}}" title="About {{name}}">more about</a> this author.</p>
{{/if}}
	</div>

{{!--  Author Image Conditional  --}}
{{#if profile_image}}
	<div class="uk-width-1-5 bioimgframe uk-padding-small">
		<div class="bioimg">
			<img src="{{img_url profile_image}}" alt="{{name}} Profile Picture" title="{{name}} Profile Picture" class="uk-border-circle uk-object-cover uk-box-shadow-small" width="140" height="140" style="aspect-ratio: 1 / 1;">
		</div>
	</div>
{{/if}}
</section>
