{{!-- Email subscribe CTA with link --}}
{{#if @site.members_enabled}}
<section id="subscribe" class="uk-section uk-section-muted">
<div class="uk-container uk-container-small">
	<div class="uk-flex uk-flex-wrap uk-width-1-1 uk-child-width-1-2@m" data-uk-height-match data-uk-margin>
		<div class="uk-text-center uk-text-left@m">
			<h6 class="uk-h5 uk-margin-remove-bottom">Subscribe to {{@site.title}}</h6>
			<div class="uk-navbar-subtitle">Get the latest posts delivered right to your inbox</div>
		</div>
		<div class="uk-flex uk-flex-middle">
			<a class="uk-button uk-button-large uk-button-default uk-width-1-1" href="#/portal/signup" data-portal="signup" data-uk-icon="icon:triangle-right;ratio:1.3;">Subscribe </a>
		</div>
	</div>
</div>
</section>
{{/if}}

<footer class="uk-section uk-section-small uk-background-secondary uk-text-center uk-light uk-clearfix">
<div class="uk-container uk-width-5-6 uk-width-3-4@s uk-width-2-3@m uk-width-1-2@l uk-flex uk-flex-wrap uk-flex-center uk-flex-between uk-margin-large-top" data-uk-margin itemscope itemtype="http://schema.org/Organization">
{{#if @site.facebook}}
	<a href="{{facebook_url}}" title="{{@site.facebook}}" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: facebook;ratio: 1.8" aria-label="Facebook" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">Facebook</span></a>
{{/if}}
{{#if @custom.instagram_link}}
	<a href="{{@custom.instagram_link}}" title="Instagram" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: instagram;ratio: 1.8" aria-label="Instagram" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">Instagram</span></a>
{{/if}}
{{#if @custom.pinterest_link}}
	<a href="{{@custom.pinterest_link}}" title="Pinterest" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: pinterest;ratio: 1.8" aria-label="Pinterest" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">Pinterest</span></a>
{{/if}}
{{#if @custom.tiktok_link}}
	<a href="{{@custom.tiktok_link}}" title="TikTok" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: tiktok;ratio: 1.8" aria-label="TikTok" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">TikTok</span></a>
{{/if}}
{{#if @custom.tumblr_link}}
	<a href="{{@custom.tumblr_link}}" title="Tumblr" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: tumblr;ratio: 1.8" aria-label="Tumblr" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">Tumblr</span></a>
{{/if}}
{{#if @site.twitter}}
	<a href="{{twitter_url}}" title="{{@site.twitter}}" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: x;ratio: 1.8" aria-label="X" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">X</span></a>
{{/if}}
{{#if @custom.youtube_link}}
	<a href="{{@custom.youtube_link}}" title="Youtube" target="_blank" rel="noopener noreferrer" itemprop="sameAs" data-uk-icon="icon: youtube;ratio: 1.8" aria-label="Youtube" class="uk-icon-link grow"><span class="uk-hidden" aria-hidden="true">Youtube</span></a>
{{/if}}
</div>
<div class="uk-container uk-margin-large uk-text-muted" data-uk-margin>	
	<div>&copy; {{date format="YYYY"}} - {{@site.title}}</div>
	<div class="uk-text-small uk-margin-small-top"><a href="https://ghost.org/" title="Ghost | Ghost.org" target="_blank" rel="nofollow" class="uk-text-muted">Published with Ghost</a> &amp; <a href="https://haeckdesign.com/freebies/themes/triangle-ghost-theme" title="Triangle Ghost Theme - Haeck Design" target="_blank" rel="nofollow" class="uk-text-muted">Triangle Ghost Theme</a></div>
	<div class="uk-margin-small-top"><a href="{{@site.url}}/sitemap.xml" title="Sitemap - {{@site.title}}" target="_blank" class="uk-text-muted">Sitemap</a></div>
</div>
<a href="#" data-uk-icon="icon:triangle-up;ratio:3" class="grow" data-uk-scroll></a>
{{#if @site.secondary_navigation}}
<hr>
<div id="secondarymenu" class="uk-container uk-container-small uk-margin-top">
<ul class="uk-subnav uk-subnav-divider uk-flex-center" data-uk-margin>
{{navigation type="secondary"}}
</ul>
</div>
{{/if}}
</footer>
