{{!--  Primary Menu  --}}
{{^if isSecondary}}
{{#foreach navigation}}
	<li class="uk-visible@m{{#if current}} uk-active{{/if}}" role="presentation"><a href="{{url absolute="true"}}" title="{{label}}" role="menuitem">{{label}}</a></li>
{{/foreach}}
	<li class="uk-hidden@m">
	<a href="#" class="uk-navbar-toggle" title="Toggle" aria-label="Toggle Menu" data-uk-navbar-toggle-icon></a>
	<div class="uk-navbar-dropdown">
		<ul class="uk-nav uk-navbar-dropdown-nav">
		{{#foreach navigation}}
			<li role="presentation"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
		{{/foreach}}
		</ul>
	</div>
	</li>{{else}}
{{!--  Secondary Menu  --}}
{{#foreach navigation}}
	<li{{#if current}} class="uk-active"{{/if}}>
		<a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a>
	</li>
{{/foreach}}
{{/if}}