<div data-uk-sticky="sel-target: .uk-navbar-container;cls-active: uk-navbar-sticky">
<nav class="uk-navbar uk-navbar-container uk-navbar-attached" data-uk-navbar>
<div class="uk-navbar-left">
{{#if @blog.logo}}
<a href="{{@blog.url}}" title="{{@blog.title}}">
	<img src="{{@blog.logo}}" alt="{{@blog.title}} Logo" title="{{@blog.title}} Logo" class="uk-navbar-item uk-logo" />
</a>
{{else}}
	<a href="{{@blog.url}}" title="{{@blog.title}}" class="uk-navbar-item uk-logo">{{@blog.title}}</a>
{{/if}}
</div>
{{#if @blog.navigation}}
<div class="uk-navbar-right">	
	<ul class="uk-navbar-nav">
	{{#foreach navigation}}
    	<li class="uk-visible@m {{#if current}}uk-active{{/if}}" role="presentation"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
	{{/foreach}}
		<li class="uk-hidden@m">
		<a class="uk-navbar-toggle" data-uk-navbar-toggle-icon href="#"></a>
		<div class="uk-navbar-dropdown">
            <ul class="uk-nav uk-navbar-dropdown-nav">
			{{#foreach navigation}}
		    	<li role="presentation"><a href="{{url absolute="true"}}" title="{{label}}">{{label}}</a></li>
			{{/foreach}}
            </ul>
        </div>
		</li>
	</ul>
</div>
{{/if}}
</nav>
</div>
