
<hr class="uk-article-divider uk-margin-medium-top" />

<ul class="uk-pagination uk-flex uk-flex-center uk-flex-middle uk-flex-between">
{{#if prev}}
<li class="uk-pagination-previous">
	<a href="{{page_url prev}}" title="Newer Post" class="uk-button uk-button-default"><span data-uk-icon="icon:triangle-left"></span>&nbsp;Newer</a>
</li>
{{else}}
<li class="uk-pagination-previous">
	<button class="uk-button uk-button-default" disabled><span data-uk-icon="icon:triangle-left"></span>&nbsp;Newer</button>
</li>
{{/if}}
<li class="uk-visible@s">Page {{page}} of {{pages}}</li>
{{#if next}}
<li class="uk-pagination-next">
	<a href="{{page_url next}}" title="Older Post" class="uk-button uk-button-default">Older&nbsp;<span data-uk-icon="icon:triangle-right"></span></a>
</li>
{{else}}
<li class="uk-pagination-next">
	<button class="uk-button uk-button-default" disabled>Older&nbsp;<span data-uk-icon="icon:triangle-right"></span></button>
</li> 
{{/if}}
</ul>
