
<hr />

<span class="uk-float-right uk-margin-remove-adjacent uk-text-muted" data-uk-icon="icon:bookmark;ratio:0.65" data-uk-scrollspy="cls:uk-animation-fade"></span>
<h6 class="uk-h5">Additional Posts</h6>
<div class="uk-tile uk-tile-secondary uk-padding-small uk-margin rounded-inset">
<ul class="uk-child-width-1-2@m uk-grid uk-grid-small" data-uk-grid data-uk-height-match>
{{#next_post}}
<li>
<a href="{{url}}" title="{{title}}" class="uk-text-right uk-inline-clip uk-transition-toggle uk-cover-container uk-height-medium uk-width-1-1 uk-height-1-1 uk-box-shadow-small rounded">
	{{#if feature_image}}
	<img src="{{img_url feature_image}}" alt="{{title}}" title="{{title}}" class="uk-blend-soft-light rounded" data-uk-cover />
	<span class="uk-overlay uk-overlay-primary uk-transition-fade uk-position-cover uk-flex uk-flex-center uk-flex-column uk-light">
	{{else}}
	<span class="uk-card uk-card-secondary uk-card-hover uk-position-cover uk-flex uk-flex-center uk-flex-column">
	{{/if}}
	<span class="uk-h4 uk-margin-remove">
	<span data-uk-icon="icon:triangle-left;ratio:1.6" class="uk-float-left uk-margin-right"></span>{{title}}</span>
	<span class="uk-margin-small-top uk-text-small">{{excerpt words="20"}}&hellip;</span>
	</span>
</a>
</li>
{{/next_post}}
{{^next_post}}
<li>
<a href="{{@blog.url}}" title="{{@blog.title}}" class="uk-height-medium uk-width-1-1 uk-height-1-1 uk-card uk-card-secondary uk-card-hover rounded uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-overlay uk-text-center">
	<span data-uk-icon="icon:home;ratio:2.2"></span><span class="uk-h5 uk-margin-small">{{@blog.title}}</span><span class="uk-margin-remove uk-text-small">{{@blog.description}}&hellip;</span>
</a>
</li>
{{/next_post}}
{{#prev_post}}
<li>
<a href="{{url}}" title="{{title}}" class="uk-text-left uk-inline-clip uk-transition-toggle uk-cover-container uk-height-medium uk-width-1-1 uk-height-1-1 uk-box-shadow-small rounded">
	{{#if feature_image}}
	<img src="{{img_url feature_image}}" alt="{{title}}" title="{{title}}" class="uk-blend-soft-light rounded" data-uk-cover />
	<span class="uk-overlay uk-overlay-primary uk-transition-fade uk-position-cover uk-flex uk-flex-center uk-flex-column uk-light">
	{{else}}
	<span class="uk-card uk-card-secondary uk-card-hover uk-position-cover uk-flex uk-flex-center uk-flex-column uk-padding">
	{{/if}}
	<span class="uk-h4 uk-margin-remove">
	<span data-uk-icon="icon:triangle-right;ratio:1.6" class="uk-float-right uk-margin-left"></span>{{title}}</span>
	<span class="uk-margin-small-top uk-text-small">{{excerpt words="20"}}&hellip;</span>
	</span>
</a>
</li>
{{/prev_post}}
{{^prev_post}}
<li>
<a href="{{@blog.url}}" title="{{@blog.title}}" class="uk-height-medium uk-width-1-1 uk-height-1-1 uk-card uk-card-secondary uk-card-hover rounded uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-overlay uk-text-center">
	<span data-uk-icon="icon:home;ratio:2.2"></span><span class="uk-h5 uk-margin-small">{{@blog.title}}</span><span class="uk-margin-remove uk-text-small">{{@blog.description}}&hellip;</span>
</a>
</li>
{{/prev_post}}
</ul>
</div>
