
{{!< default}}
{{#author}}
{{#if cover_image}}

<div class="uk-cover-container uk-background-secondary uk-clearfix" data-uk-height-viewport>
{{#if cover_image}}
<img src="{{cover_image}}" alt="{{name}} - Background" title="{{name}} - Background" data-uk-cover />
{{/if}}

<section class="uk-position-center" role="main">
	<div class="uk-container uk-container-center uk-width-3-4 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l uk-overlay uk-card uk-card-default uk-text-center uk-box-shadow-small">

		{{#if profile_image}}
		<figure class="uk-card-media-top uk-width-1-1 uk-inline uk-margin-remove">
		<img src="{{img_url profile_image}}" alt="{{name}} - Profile Picture" title="{{name}} - Profile Picture" class="uk-width-1-1" />
		<figcaption class="uk-card-header uk-overlay uk-overlay-default uk-padding-small uk-position-bottom">
			<h1 class="uk-h4 uk-margin-remove">{{name}}</h1>
			<h2 class="uk-text-meta uk-margin-remove">{{location}}</h2>
		</figcaption>
		</figure>
		{{else}}
		<h1 class="uk-h3 uk-margin-remove">{{name}}</h1>
		<h2 class="uk-text-muted uk-h6 uk-margin-remove uk-display-inline-block">{{location}}</h2>
		{{/if}}

		<p class="uk-card-body uk-padding-small uk-margin-remove">{{bio}}</p>
		<div class="uk-card-footer uk-flex uk-flex-between uk-margin-top">
		{{#if website}}<a href="{{website}}" title="Website - {{name}}" target="_blank" data-uk-icon="icon:world;ratio:1.1"></a>{{/if}}
		<a href="{{url}}rss/" title="RSS Feed" target="_blank" data-uk-icon="icon:rss;ratio:1.1"></a>
		{{#if twitter}}<a href="{{twitter_url}}" data-uk-icon="icon:twitter;ratio:1.1"></a>{{/if}}
		{{#if facebook}}<a href="{{facebook_url}}" data-uk-icon="icon:facebook;ratio:1.1"></a>{{/if}}
		</div>
	</div>
</section>
</div>

{{else}}

<div class="uk-cover-container uk-background-secondary uk-clearfix" data-uk-height-viewport>
<section class="uk-position-center" role="main">
	<div class="uk-container uk-container-center uk-width-3-4 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l uk-overlay uk-card uk-card-default uk-text-center uk-box-shadow-small">

		{{#if profile_image}}
		<figure class="uk-card-media-top uk-width-1-1 uk-inline uk-margin-remove">
		<img src="{{img_url profile_image}}" alt="{{name}} - Profile Picture" title="{{name}} - Profile Picture" class="uk-width-1-1" />
		<figcaption class="uk-card-header uk-overlay uk-overlay-default uk-padding-small uk-position-bottom">
			<h1 class="uk-h4 uk-margin-remove">{{name}}</h1>
			<h2 class="uk-text-meta uk-margin-remove">{{location}}</h2>
		</figcaption>
		</figure>
		{{else}}
		<h1 class="uk-h3 uk-margin-remove">{{name}}</h1>
		<h2 class="uk-text-muted uk-h6 uk-margin-remove uk-display-inline-block">{{location}}</h2>
		<hr />
		{{/if}}

		<p class="uk-card-body uk-padding-small uk-margin-remove">{{bio}}</p>
		<div class="uk-card-footer uk-flex uk-flex-between uk-margin-top">
		{{#if website}}<a href="{{website}}" title="Website - {{name}}" target="_blank" data-uk-icon="icon:world;ratio:1.1"></a>{{/if}}
		<a href="{{url}}rss/" title="RSS Feed" target="_blank" data-uk-icon="icon:rss;ratio:1.1"></a>
		{{#if twitter}}<a href="{{twitter_url}}" data-uk-icon="icon:twitter;ratio:1.1"></a>{{/if}}
		{{#if facebook}}<a href="{{facebook_url}}" data-uk-icon="icon:facebook;ratio:1.1"></a>{{/if}}
		</div>
	</div>
</section>
</div>
{{/if}}
{{/author}}
