{{!< default}}
{{#post}}

{{#if feature_image}}

<div class="uk-height-medium uk-background-cover uk-cover-container uk-clearfix" data-uk-parallax="bgy: -180" style="background-image: url('{{img_url feature_image}}');">
	<div class="uk-overlay uk-overlay-primary uk-position-cover uk-light">
		<div class="uk-width-5-6@s uk-width-4-5@m uk-width-3-5@l uk-container uk-container-center uk-position-bottom uk-margin-medium-bottom uk-animation-slide-bottom">
			<h1 class="uk-article-title uk-heading-divider">{{title}}</h1>
			<p class="uk-article-meta uk-margin-small-top">Written on
				<time datetime="{{date format="YYYY-MM-DD"}}" content="{{date format="YYYY-MM-DD"}}">
				{{date format="MMMM, DD YYYY"}}
				</time>
			</p>
		</div>
	</div>
</div>
{{/if}}	

<div class="uk-section uk-clearfix shade1">
<article class="uk-width-5-6@s uk-width-4-5@m uk-width-3-5@l uk-container uk-container-center uk-margin uk-article uk-clearfix {{post_class}}" role="main">

{{^if feature_image}}
	<h1 class="uk-article-title uk-margin-small">{{title}}</h1><hr class="uk-article-divider uk-margin-small" />
	<p class="uk-article-meta uk-margin uk-margin-small-top">Written on
	  <time datetime="{{date published_at format='YYYY-MM-DD'}}" content="{{date published_at format='YYYY-MM-DD'}}">
	    {{date published_at format='MMMM, DD YYYY'}}
	  </time>
	</p>		
{{/if}}	

{{content}}
	
{{> share}}
			
</article>
</div>

{{/post}}
