{{!< default}}

{{!--  Feature Image Conditional  --}}
{{#if tag.feature_image}}
<section class="uk-height-medium uk-cover-container uk-clearfix">
<img src="{{tag.feature_image}}" title="{{tag.name}}" alt="{{tag.name}}" data-uk-parallax="y:800;blur:80;" data-uk-cover>
	<div class="uk-overlay uk-overlay-primary uk-position-cover uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-light uk-text-center">
		<h1 class="uk-article-title uk-margin-small">{{tag.name}}</h1>
		<h2 class="uk-text-meta uk-margin-small-top">
		{{tag.description}}
		</h2>
	</div>
</section>
<div class="uk-navbar uk-navbar-attached uk-box-shadow-small uk-clearfix">
	<span data-uk-icon="icon: triangle-down;ratio: 1.4" class="uk-width-1-1 uk-text-center uk-text-muted uk-margin-small-bottom uk-margin-small-top"><svg width="28" height="28" viewBox="0 0 20 20"><polygon points="5 7 15 7 10 12"></polygon></svg></span>
</div>
{{else}}
<section class="uk-section uk-section-secondary uk-section-large uk-clearfix">
	<div class="uk-flex-middle uk-flex-center uk-flex-column uk-container uk-container-center uk-width-5-6@s uk-width-4-5@m uk-width-3-5@l uk-text-center">
		<h1 class="uk-heading-primary">{{tag.name}}</h1>
		<hr class="uk-divider-icon">
		<h2 class="uk-text-meta uk-margin">
		{{tag.description}}
		</h2>
	</div>
</section>
{{/if}}

<main class="uk-section uk-clearfix shade1" role="main">
<div class="uk-container uk-container-center uk-width-5-6@s uk-width-4-5@m uk-width-3-5@l uk-margin-top">
{{> "loop"}}
</div>

{{#if @custom.include_pagination}}
<div class="uk-container">{{pagination}}</div>
{{/if}}

</main>
